# 데이터 병합

## 1. 데이터 불러오기

In [118]:
import pandas as pd

df_terminal= pd.read_csv('data/경상남도 창원시_누비자 터미널_20211231.csv', sep=',', encoding='cp949')
df_terminal.head()
df_terminal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      283 non-null    int64
 1   터미널명    283 non-null    object
 2   구       283 non-null    object
 3   동       283 non-null    object
 4   주소      283 non-null    object
 5   등록일자    283 non-null    object
 6   보관대수    283 non-null    int64
 7   위도      283 non-null    float64
 8   경도      283 non-null    float64
dtypes: float64(2), int64(2), object(5)
memory usage: 20.0+ KB

In [119]:
df_nubi06 = pd.read_csv('data/누비자반납현황/창원시+무인대여공영자전거+누비자+대여반납이력_2018-03.csv', sep=',', encoding='cp949')
df_nubi06.head()
df_nubi06.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376909 entries, 0 to 376908
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   자전거번호   376909 non-null  int64
 1   출발터미널   376909 non-null  int64
 2   출발일     376909 non-null  object
 3   출발시간    376909 non-null  object
 4   도착터미널   376909 non-null  int64
 5   도착일     376909 non-null  object
 6   도착시간    376909 non-null  object
dtypes: int64(3), object(4)
memory usage: 20.1+ MB

In [120]:
df_crawling= pd.read_csv('data/nubibike.csv', sep=',', encoding='cp949')
df_crawling.head()
df_crawling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      283 non-null    int64
 1   터미널명    283 non-null    object
 2   주소      283 non-null    object
 3   보관대수    283 non-null    int64
dtypes: int64(2), object(2)
memory usage: 9.0+ KB

## 2. 기존데이터와 최신데이터 병합

In [121]:
df_merge = pd.merge(df_terminal, df_crawling, how='right', left_on = '터미널명', right_on='터미널명')
df_merge.head()

,번호_x,터미널명,구,동,주소_x,등록일자,보관대수_x,위도,경도,번호_y,주소_y,보관대수_y
0,220.0,3.15아트 센터 앞,마산회원구,양덕2동,경남 창원시 마산회원구 양덕동 531-2 공원,2011-08-05,19.0,35.225578,128.578438,199,경남 창원시 마산회원구 양덕동,19
1,152.0,GMB코리아,성산구,가음정동,경남 창원시 성산구 가음정동 394 도,2010-06-22,20.0,35.204804,128.679669,140,경남 창원시 성산구 가음정동,20
2,21.0,KPE창원공장 맞은편,의창구,팔용동,경남 창원시 의창구 팔용동 503-3 도,2009-05-13,17.0,35.246967,128.615294,9,경남 창원시 의창구 팔용동,17
3,197.0,KT마산지점앞,마산합포구,오동동,경남 창원시 마산합포구 서성동 66-14도로,2011-08-05,20.0,35.202998,128.571121,204,경남 창원시 마산합포구 서성동,20
4,125.0,KT앞(대우아파트맞은편),성산구,상남동,경남 창원시 성산구 상남동 72-2대,2010-01-11,20.0,35.218987,128.678795,110,경남 창원시 성산구 상남동,20

In [122]:
df_merge.dtypes

번호_x      float64
터미널명       object
구          object
동          object
주소_x       object
등록일자       object
보관대수_x    float64
위도        float64
경도        float64
번호_y        int64
주소_y       object
보관대수_y      int64
dtype: object

In [123]:
df_merge = df_merge.dropna(axis=0)

In [124]:
df_merge['번호_x'] = df_merge['번호_x'].astype('int')

In [125]:
df_merge.dtypes

번호_x        int32
터미널명       object
구          object
동          object
주소_x       object
등록일자       object
보관대수_x    float64
위도        float64
경도        float64
번호_y        int64
주소_y       object
보관대수_y      int64
dtype: object

## 3. 최신데이터파일 생성

In [126]:
dict_newterminal = dict([(i,a) for i,a in zip(df_merge['번호_x'],df_merge['번호_y'])])
print(dict_newterminal)

{220: 199, 152: 140, 21: 9, 197: 204, 125: 110, 153: 84, 177: 97, 178: 145, 22: 10, 154: 142, 155: 235, 156: 87, 157: 86, 158: 143, 159: 85, 6: 264, 7: 265, 179: 96, 160: 144, 136: 74, 73: 132, 55: 38, 234: 212, 56: 108, 168: 246, 249: 284, 250: 176, 251: 221, 100: 47, 91: 44, 23: 6, 231: 226, 229: 240, 230: 249, 74: 60, 237: 152, 256: 180, 92: 40, 57: 125, 274: 292, 188: 211, 161: 88, 169: 90, 137: 141, 101: 45, 206: 159, 207: 158, 208: 193, 209: 192, 210: 156, 211: 160, 212: 157, 213: 190, 214: 191, 247: 171, 257: 182, 258: 181, 93: 42, 35: 106, 10: 2, 248: 174, 102: 16, 269: 187, 126: 136, 162: 81, 138: 114, 103: 102, 104: 122, 105: 14, 262: 213, 263: 232, 139: 80, 11: 263, 36: 287, 37: 20, 38: 104, 39: 21, 58: 126, 106: 233, 1: 161, 2: 99, 3: 289, 107: 271, 189: 238, 40: 123, 94: 41, 127: 67, 108: 149, 109: 150, 110: 50, 198: 247, 227: 194, 199: 248, 235: 196, 221: 200, 204: 207, 190: 209, 205: 228, 215: 239, 222: 261, 41: 28, 42: 27, 43: 26, 44: 124, 45: 25, 46: 105, 193: 208, 75: 52, 95: 128, 96: 39, 140: 75, 59: 34, 60: 220, 61: 35, 62: 236, 232: 255, 233: 290, 277: 275, 8: 117, 9: 168, 63: 162, 64: 107, 65: 244, 66: 36, 141: 138, 142: 254, 143: 77, 144: 268, 145: 79, 146: 137, 147: 76, 148: 113, 25: 266, 170: 219, 128: 245, 163: 73, 129: 293, 130: 70, 131: 68, 132: 112, 200: 205, 47: 24, 259: 241, 236: 282, 171: 91, 164: 259, 133: 71, 149: 78, 134: 72, 172: 146, 173: 167, 180: 166, 174: 92, 175: 89, 150: 93, 12: 101, 165: 82, 267: 234, 238: 173, 135: 69, 111: 58, 97: 127, 76: 66, 77: 135, 78: 65, 79: 64, 26: 267, 278: 274, 239: 154, 176: 147, 223: 291, 224: 201, 225: 198, 219: 197, 201: 206, 195: 231, 203: 203, 279: 279, 280: 286, 281: 242, 80: 56, 98: 129, 112: 130, 81: 57, 82: 53, 228: 195, 270: 185, 282: 188, 181: 215, 182: 165, 183: 164, 184: 94, 275: 270, 276: 272, 27: 8, 194: 210, 191: 224, 192: 223, 13: 278, 196: 202, 14: 3, 83: 62, 84: 63, 15: 119, 16: 4, 48: 22, 49: 218, 85: 54, 17: 118, 50: 103, 261: 183, 4: 100, 264: 214, 265: 273, 166: 230, 202: 237, 86: 253, 5: 276, 18: 5, 87: 55, 185: 95, 113: 216, 114: 46, 67: 33, 271: 257, 240: 153, 266: 251, 244: 222, 241: 277, 272: 186, 245: 151, 283: 189, 260: 179, 252: 155, 273: 252, 242: 262, 246: 170, 254: 177, 255: 178, 28: 11, 68: 148, 115: 15, 51: 243, 19: 280, 116: 131, 117: 51, 69: 37, 118: 115, 119: 19, 120: 17, 121: 49, 88: 134, 52: 23, 29: 12, 89: 59, 20: 1, 151: 139, 122: 48, 30: 13, 31: 18, 123: 109, 70: 32, 253: 175, 71: 285, 99: 43, 53: 30, 32: 120, 33: 121, 34: 7, 268: 184, 90: 61, 124: 116, 167: 83, 72: 288, 226: 283, 243: 169, 54: 29, 186: 260, 187: 256, 218: 227, 216: 269, 217: 229}

In [127]:
dnum = list(df_nubi06['출발터미널'])
departnum_terminal_lst = []
for i in dnum:
    if (i>283) or (i==24):
        departnum_terminal_lst.append('')
        continue
    departnum_terminal_lst.append(dict_newterminal[i])

In [128]:
rnum = list(df_nubi06['도착터미널'])
arrivenum_terminal_lst = []
for i in rnum:
    if (i>283) or (i==24):
        arrivenum_terminal_lst.append('')
        continue
    arrivenum_terminal_lst.append(dict_newterminal[i])

In [129]:
df_nubi06['new출발터미널'] = departnum_terminal_lst
df_nubi06['new도착터미널'] = arrivenum_terminal_lst
df_nubi06.head()

,자전거번호,출발터미널,출발일,출발시간,도착터미널,도착일,도착시간,new출발터미널,new도착터미널
0,4918,214,2018-03-01,00:00:23,215,2018-03-01,00:02:51,191,239
1,7835,62,2018-03-01,00:00:54,64,2018-03-01,00:06:14,236,107
2,7916,274,2018-03-01,00:01:27,274,2018-03-01,00:01:30,292,292
3,7970,134,2018-03-01,00:01:36,54,2018-03-01,00:03:29,72,29
4,8199,287,2018-03-01,00:01:37,42,2018-03-01,00:11:21,,27

In [130]:
df_nubi06.to_csv('data/3월_누비자반납이력.csv', encoding='cp949', mode='w', index=False)